.main1 {
    min-height: 100vh;
    background-image: linear-gradient(125deg, #0f0f0f, #cdd4e0);
  }
  
  .container1 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
  
    h1 {
      font-size: 160px;
      margin: 0;
      font-weight: 900;
      letter-spacing: 20px;
      background: url(../assets/img/galeria/Landscape1.jpg) center no-repeat;
      -webkit-text-fill-color: transparent;
      background-clip: border-box;
      -webkit-background-clip: text;
    }
  
    a {
      margin: 1%;
      text-decoration: none;
      background: #e55039aa;
      color: #fff;
      padding: 12px 24px;
      display: inline-block;
      border-radius: 25px;
      font-size: 14px;
      text-transform: uppercase;
      transition: 0.4s;
  
      &:hover {
        background: #e55039;
      }
    }
  }
  