* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #3155e7;
	--primary-dark: #2045d6;
	--black: #010101;
	--gray-1: #788190;
	--gray-2: #d3d4db;
	--white: #ffffff;
}

body {
	font-family: $font-family_1;
	background-color: $background-color_1;
	min-height: 100vh;
	margin: 0;
	display: map-get($map-flex, flex);
	flex-direction: column;
}