.about {
	width: 100%;
	height: auto;
	background-color: $background-color_1;
	display: map-get($map-flex, flex);
	justify-content: center;
	align-items: center;
	text-align: center;

	.content2 {
		img {
			height: auto;
			width: 600px;
			max-width: 100%;
		}
	}
}

.text2 {
	width: 550px;
	max-width: 100%;
	padding: 10% 10px;

	h1 {
		color: $color_1;
		font-size: 85px;
		margin-bottom: 20px;
		text-transform: capitalize;
	}

	h2 {
		color: $color_1;
		font-size: 85px;
		margin-bottom: 20px;
		text-transform: capitalize;
	}

	h3 {
		color: $color_4;
		font-size: 25px;
		margin-bottom: 25px;
		text-transform: capitalize;
		letter-spacing: 2px;
	}

	p {
		color: $color_5;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 1px;
		margin-bottom: 45px;
	}
}

.content2 {
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: map-get($map-flex, flex);
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}