$color_1: #ffcc74;
$color_2: #fff;
$color_3: var(--black);
$color_4: white;
$color_5: #c0c4d6;
$color_6: #666;
$color_7: var(--gray-);
$color_8: var(--gray-2);
$color_9: #4b4c4d;
$color_10: inherit;
$font-family_1: 'Plus Jakarta Sans', sans-serif;
$background-color_1: #161922;
$background-color_2: #fff;
$background-color_3: #f8f9fa;
$background-color_4 : #51535e;


/* maps */

$map-flex: (
    flex: flex,
    row: row,
    column: column,
    inline-block: inline-block,
    space-around: space-around,
    space-between: space-between,
    space-evenly: space-evenly,
    space-center: center)